
.perfil {
    padding: 50px 0;

    .subtitle-tab {
        text-transform: uppercase;
        font-size: 15px;
        background-color: #fff !important;
        cursor: default;
        padding: 5px 16px;
        font-family: 'BarlowBold';

        &:hover {
            background-color: #fff !important;
        }
    }
}


.tab {
    border: 0;
    background-color: #fff;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: #000;
    padding: 10px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: .3s;
    font-size: 14px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #F2F2F2;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #E5E5E5;
}

/* Style the tab content */
.tabcontent {
    display: block;
    border: 0;
    max-width: 670px;
    margin: 0px auto;


    h5 {
        font-family: BarlowBold;
        font-size: 15px;
        line-height: 21px;
        text-transform: uppercase;
    }

    .container_form {
        padding: 20px 10px 5px 10px;
        margin: 20px 0;
        border: 1px solid #E5E5E5;

        &.entregado {
            background-color: #E1FDF4;
        }

        &.cancelado {
            color: #E37725;
        }

        &.anulado {
            color: #ec0b20;
        }
    }

    input, select {
        background: #F2F2F2;
        height: 48px;
        font-size: 14px;
        font-family: Barlow;
        color: #000;
        font-weight: 600;

        &::placeholder {
            color: #000;
            font-weight: 600;
            opacity: 1; /* Firefox */
        }

        &:-ms-input-placeholder {
            color: #000;
            font-weight: 600;
        }

        &::-ms-input-placeholder {
            color: #000;
            font-weight: 600;
        }
    }

    #btnGuardarCambiosFacturacion, #btnGuardarSalir {
        margin: 0;
    }

    button {
        text-transform: uppercase;
        font-size: 14px;
        height: 38px;

        &:hover {
            background-color: #16ab7d;
            text-decoration: none;
            color: #fff;
            opacity: 1;
        }
    }
}

.card{
    margin-bottom: 15px;
}

.card-body {
    padding: 20px 15px 0 15px;

    h6 {
        font-size: 14px;
        font-family: BarlowBold;
        color: #000 !important;
    }

    p {
        font-size: 14px;
        font-family: Barlow;
        margin: 0;
    }

    ul {
        margin: 0;

        li {
            margin: 0 15px 0 0;

            button {
                margin: 10px 0;
                height: 30px;
            }
        }
    }
}

label {
    font-family: Barlow;
    font-size: 14px;
}

#Datos{
    max-width: 600px;
    padding-left: 80px;
    margin: 0;
}

#Pedidos {
    h5 {
        font-family: BarlowBold;
        font-size: 13px;
        text-transform: uppercase;
    }

    p.marca {
        color: #616d70;
        font-family: Barlow;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 12px;
    }

    .cantidad-text {
        color: #000;
        font-family: Barlow;
        font-weight: 600;
        font-size: 13px;
    }

    ul {
        display: flex;
        margin: 25px auto;

        li {
            width: 33.3%;
            font-family: BarlowBold;
            font-size: 14px;
            text-align: center;
            color: #000;
        }
    }

    .text-estado {
        position: absolute;
        top: 15px;
        right: 15px;

        p {
            font-family: BarlowBold;
            font-size: 14px;
            text-transform: uppercase;

            &.entregado {
                color: #09A04A;
            }

            &.cancelado {
                color: #E37725;
            }

            &.anulado {
                color: #ec0b20;
            }
        }
    }

    .progress {
        border-radius: 10px;

        &-bar {
            border-radius: 10px;
            background: #f3ba1f;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                background: #fff;
                width: 10px;
                height: 10px;
                right: 3px;
                top: 3px;
                border-radius: 50%;
            }
        }

        &-message {
            color: #f3ba1f;
            font-weight: bold;
            font-size: 14px;
        }

        &-status {
            color: rgb(128, 128, 128);
        }
    }


    .tracking {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        font-size: .8rem;

        &__status {
            overflow: hidden;
            width: var(--width-status);

            &__img {
                position: relative;
                background: #ECEFF2;
                border-radius: 50%;
                width: 100%;
                height: var(--width-status);
                padding: var(--padding-inner);

                &__contend {
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                    border: solid var(--border-size) #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: calc(var(--width-status) / 2);
                        height: calc(var(--width-status) / 2);
                    }
                }

                &.complete {
                    background-color: #7FB6AE;
                }

                &.active {
                    background-color: #E6BD1A;
                }

                &.cancel {
                    background-color: #C95F64;
                }

                &.fullComplete {
                    background-color: #658FC6;
                }
            }

            &__name {
                padding-top: 1.5rem;

                p {
                    width: 100%;
                    font-size: var(--font-size);
                    text-align: center;
                    font-weight: 700;
                }
            }
        }

        &__readline {
            width: calc((100% - (var(--width-status) * 6)) / 5);
            height: 10px;
            background-color: #ECEFF2;
            margin-top: calc((var(--width-status) / 2) - 5px);

            &.complete {
                background-color: #7FB6AE;

                &.active {
                    background: linear-gradient(to right,#7FB6AE, #E6BD1A);
                }

                &.cancel {
                    background: linear-gradient(to right,#7FB6AE, #C95F64);
                }

                &.fullComplete {
                    background: linear-gradient(to right,#7FB6AE, #658FC6);
                    background-color: #658FC6;
                }
            }
        }
    }


    #btnCancelar {
        width: 196px;
        height: 38px;
        background: #FFFFFF;
        border: 1px solid #E37725;
        color: #E37725;
        text-transform: uppercase;
        font-weight: 600;
        font-family: Barlow;
    }
}

.progressbar-wrapper {
    background: #fff;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
}

.progressbar li {
    list-style-type: none;
    width: 20%;
    float: left;
    position: relative;
    text-align: center;
    color: #7d7d7d;
    font-weight: 700;
    font-size: 12px !important;
    font-family: Barlow !important;

    &::before {
        width: 12px;
        height: 12px;
        content: "";
        line-height: 60px;
        border: 2px solid #000;
        display: block;
        text-align: center;
        margin: 0 auto 3px auto;
        border-radius: 0;
        position: relative;
        z-index: 2;
        background-color: #fff;
    }

    &:after {
        width: 110%;
        height: 2px;
        content: '';
        position: absolute;
        background-color: #C4C4C4;
        top: 5px;
        left: -62%;
        z-index: 0;
    }

    &:first-child:after {
        content: none;
    }
}

    .progressbar li.active:before {
        background: #000;
        background-size: 60%;
    }

    .progressbar li.active:after {
        background: #000;
    }

    .progressbar li::before {
        background: #fff url(user.svg) no-repeat center center;
        background-size: 60%;
    }

    .progressbar {
        counter-reset: step;
        margin: 0px auto 25px auto !important;
    }

    .progressbar li:before {
        counter-increment: step;
        margin-bottom: 20px;
    }

    .entrega {
        font-family: Barlow;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
    }

.cerrar_sesion {
    color: #ee0005 !important;
    font-family: Barlow;
    font-weight: 600;
    font-size: 14px;
    padding: 30px 15px;
    text-decoration: none !important;
}