/*
 * Skin: Gmanteq
 * ----------
 */
.skin-gmanteq{
    overflow: hidden;
}
.skin-gmanteq .main-header .navbar {
    background-color: #75716E; /*#B1AEAB;*/ /*#F5B218;*/
}

.skin-gmanteq .main-header .navbar .nav > li > a {
    color: #ffffff;
}

.skin-gmanteq .main-header .navbar .nav > li > a:hover,
.skin-gmanteq .main-header .navbar .nav > li > a:active,
.skin-gmanteq .main-header .navbar .nav > li > a:focus,
.skin-gmanteq .main-header .navbar .nav .open > a,
.skin-gmanteq .main-header .navbar .nav .open > a:hover,
.skin-gmanteq .main-header .navbar .nav .open > a:focus,
.skin-gmanteq .main-header .navbar .nav > .active > a {
    background: rgba(0, 0, 0, 0.1);
    color: #f6f6f6;
}

.skin-gmanteq .main-header .navbar .sidebar-toggle {
    color: #ffffff;
}

.skin-gmanteq .main-header .navbar .sidebar-toggle:hover {
    color: #f6f6f6;
    background: rgba(0, 0, 0, 0.1);
}

.skin-gmanteq .main-header .navbar .sidebar-toggle {
    color: #fff;
}

.skin-gmanteq .main-header .navbar .sidebar-toggle:hover {
    background-color: rgb(179, 179, 179);
}

@media (max-width: 767px) {
    .skin-gmanteq .main-header .navbar .dropdown-menu li.divider {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .skin-gmanteq .main-header .navbar .dropdown-menu li a {
        color: #fff;
    }

    .skin-gmanteq .main-header .navbar .dropdown-menu li a:hover {
        background: #367fa9;
    }
}

.skin-gmanteq .main-header .logo {
    background-color: #75716E ;/*#DC990C;*/
    color: #ffffff;
    border-bottom: 0 solid transparent;
}

.skin-gmanteq .main-header .logo:hover {
    background-color: rgb(179, 179, 179);
}

.skin-gmanteq .main-header li.user-header {
    background-color: #1B3C63;
}

.skin-gmanteq .content-header {
    background: transparent;
}

.skin-gmanteq .wrapper,
.skin-gmanteq .main-sidebar,
.skin-gmanteq .left-side {
    background-color: #172E4A;
}

.skin-gmanteq .user-panel > .info,
.skin-gmanteq .user-panel > .info > a {
    color: #fff;
}

.skin-gmanteq .sidebar-menu > li.header {
    color: #405E7D;
    background: #13243C;
}

.skin-gmanteq .sidebar-menu > li.header + li{
    margin-top: 3px;
}

.skin-gmanteq .sidebar-menu > li > a {
    border-left: 3px solid transparent;
}

.skin-gmanteq .sidebar-menu > li:hover > a,
.skin-gmanteq .sidebar-menu > li.active > a {
    color: #ffffff;
    background: #13243C;
    border-left-color: #3c8dbc;
}

.skin-gmanteq .sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
    background: #152B44;
}

.skin-gmanteq .sidebar a {
    color: #b8c7ce;
}

.skin-gmanteq .sidebar a:hover {
    text-decoration: none;
}

.skin-gmanteq .treeview-menu > li > a {
    color: #8aa4af;

    span:not(.pull-right-container) {
        width: calc(100% - 20px);
        display: inline-block;
        white-space: pre-wrap;
    }
}

.skin-gmanteq .treeview-menu > li.active > a,
.skin-gmanteq .treeview-menu > li > a:hover {
    color: #ffffff;
}

.skin-gmanteq .sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px;
}

.skin-gmanteq .sidebar-form input[type="text"],
.skin-gmanteq .sidebar-form .btn {
    box-shadow: none;
    background-color: #374850;
    border: 1px solid transparent;
    height: 35px;
}

.skin-gmanteq .sidebar-form input[type="text"] {
    color: #666;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
}

.skin-gmanteq .sidebar-form input[type="text"]:focus,
.skin-gmanteq .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    background-color: #fff;
    color: #666;
}

.skin-gmanteq .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    border-left-color: #fff;
}

.skin-gmanteq .sidebar-form .btn {
    color: #999;
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0;
}

.skin-gmanteq.layout-top-nav .main-header > .logo {
    background-color: #3c8dbc;
    color: #ffffff;
    border-bottom: 0 solid transparent;
}

.skin-gmanteq.layout-top-nav .main-header > .logo:hover {
    background-color: #3b8ab8;
}

#adminlte--Loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1500;
    background: rgba(0,0,0,.3);
    color: #fff;
    font-size: 3em;
    display: none;

    & > i {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -15px;
        margin-top: -15px;
    }

    &.active {
        display: block !important;
    }

    & > p.message--progress {
        position: absolute;
        top: 50%;
        margin-top: 30px;
        color: #fff;
        font-size: 18px;
        width: 100%;
        text-align: center;
        font-weight: bold;
    }
}

a.logo {
    span.logo-mini {
        padding: 0 1px;

        img {
            width: 100%;
        }
    }
}

.tbbtnEdit, .tbbtnDelete {
    padding: 4px 8px;
}

.tbbtnEdit {
    margin-right: 2px;
}

.tbbtnDelete {
    margin-left: 2px;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.align-right {
    text-align: right;
}

button.btn-table-row {
    border: none;
    padding: 3px 6px;
    margin: 0 2px;
}

.table.dataTable tbody tr.selected {
    background-color: #337ab7;
    color: #fff;
}

.table {
    /*-webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
    margin-bottom: 0;
    //table-layout: fixed;
    td.col-check, th.col-check {
        text-align: center;
        vertical-align: middle;
    }

    & > thead {
        & > tr {
            & > th {
                background-color: #224467;
                color: #F5B218;
                text-align: center;
                white-space: nowrap;

                &.select-checkbox {
                    padding: 0 15px;
                }
            }
        }
    }

    & > tbody {
        & > tr {
            cursor: pointer;

            & > td {
                padding: 5px;
                white-space: nowrap;

                &.td-btn {
                    padding: 0;
                    text-align: center;
                    vertical-align: middle;
                    & > *{
                        margin-right: 5px;
                    }
                }
            }

            &.context-menu-active {
                background: #f4f4f4;
            }
        }
    }

    &.table-input {
        td:not(.dataTables_empty) {
            padding: 0;
        }

        & > tbody tr td {
            & > input, & > label, & > select {
                padding: 5px;
                height: auto;
                width: 100%;
                border-color: transparent;
                margin-bottom: 0;
            }

            & > button {
                border-color: transparent;
            }
        }
    }

    & > tfoot {
        & > tr > th:not(.select-checkbox) {
            padding: 0 !important;

            & > input, & > label, & > select {
                padding: 5px !important;
                height: auto !important;
                border-color: transparent !important;
            }
        }
    }
}

.table-responsive {
    border: none;
}

.dataTables_filter, .dataTables_length {
    display: inline-block;

    * {
        margin-right: 2px;
    }
}


div.toolbar {
    * {
        margin-right: 5px;
    }
}

span.label + span.label {
    margin-left: 0.5px;
}

.modal {
    overflow-x: hidden;
    overflow-y: auto;
}

iframe {
    border: solid 1px rgba(0,0,0,.3);
}
.form-control {
    border-radius: initial !important;

    &.number-notcontrol {
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}